.footer-link {
    color: #c3c0c0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    cursor: pointer;
    color: #FACA10;
}

.footer-link:active {
    transform: scale(0.95);
}

.footer-icon:hover {
    color: #FACA10;
    cursor: pointer;
}