<footer [ngClass]="{'dark-theme': isDarkMode()}">
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} StreamBase. All rights reserved.</p>
      <div class="social-links">
        <a href="#" aria-label="Facebook"><mat-icon>facebook</mat-icon></a>
        <a href="#" aria-label="Twitter"><mat-icon>alternate_email</mat-icon></a>
        <a href="#" aria-label="Instagram"><mat-icon>photo_camera</mat-icon></a>
      </div>
      <p>Powered by  <a href="#" aria-label="tmdb"><img src="tmdb-logo.svg" alt="TMDB"/></a> </p>
    </div>
</footer>

